body {
    background:url(../images/bballbackground.jpg);
    background-size: cover;
    background-color: orange;
    background-repeat: no-repeat;
}

h1, p, h2 {
    color: #ffffff;
    text-align: center;
}

#text {
    color: #ffffff;
}

/* div#test {
    background-color: white;
    border: black 1px solid;
    padding: 10px 40px 40px 40px;
} */